/**
 * @section Base Styles
 */

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Comfortaa', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

section, .main-header {
  margin-bottom: 40px;
}
