@mixin icon($size, $margin, $url) {
  content: "";
  position: absolute;
  display: inline-block;
  height: $size;
  width: $size;
  background-image: url($url);
  background-size: $size $size;
  background-repeat: no-repeat;
  left: $margin;
  bottom: 0.3rem;
}

.main-footer {
  margin-top: 80px;
  margin-bottom: 0;
  background-color: $bg-inverse;
  color: $color-inverse;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    margin-bottom: 0;
  }
}

.main-footer-contacts {
  line-height: 3rem;
  align-self: center;
  margin: 0 30px;
  .address {
    position: relative;
    &::before {
      @include icon(17px, -25px, '../img/address.svg');
    }
  }
  .email {
    position: relative;
    color: $color-inverse;
    &:hover {
      color: $color-quaternary;
    }
    &::before {
      @include icon(17px, -25px, '../img/email.svg');
      bottom: 0.5rem;
    }
  }
  .phone {
    position: relative;
    &::before {
      @include icon(17px, -25px, '../img/phone.svg');
    }
  }
  .company-details {
    color: $color-inverse;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding-top: 50px;
    &:active, &:visited, &:focus {
      text-decoration: none;
      outline: none;
    }
    &::before {
      @include icon(50px, 0, '../img/file.svg');
      top: 0;
      left: 50%;
      margin-left: -25px;
    }
  }
}

.main-footer-map {
  flex-grow: 1;
  min-width: 200px;
}
