.prices-item-header {
  font-family: 'Comfortaa', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  color: $color-primary;
  font-weight: bold;
}

.prices {
  .prices-item-header:before {
    content: "";
    display:block;
    height:125px;
    width:125px;
    background-size: 125px 125px;
    background-repeat: no-repeat;
    margin: 0 auto 30px auto;
  }
  .weight::before {
    background-image: url('../img/scale.svg');
  }
  .hour::before {
    background-image: url('../img/clock.svg');
  }
}
