.services {
  position: relative;
  background-color: #333;
  color: #eee;
  padding: 60px 0 80px 0;
  ul {
    text-align: center;
  }
}

.services-top, .services-bottom {
  color: $bg-color;
  fill: $bg-color;
  position: absolute;
}
 .services-top {
  top: -1px;
 }

 .services-bottom {
   bottom: -1px;
 }
